# ==========================
# Server Configuration
# ==========================
SERVER_PORT=8080
PANEL_BASE_URL=http://localhost:8080/

# ==========================
# Database Configuration - PostgreSQL
# ==========================
DB_URL=jdbc:postgresql://db-panel:5432/db-panel
DB_USERNAME=user
DB_PASSWORD=password

# ==========================
# JPA Configuration
# ==========================
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# ==========================
# RabbitMQ Configuration
# ==========================
# Igual que la DB, aquí el host debe ser el nombre del servicio de RabbitMQ en docker-compose
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password
RABBITMQ_ADDRESSES=rabbitmq:5672

# ==========================
# RabbitMQ Queue Configuration
# ==========================
RABBITMQ_QUEUE_NAME=alerts.panel.queue
RABBITMQ_EXCHANGE_NAME=alert.exchange
RABBITMQ_ROUTING_KEY=alert.created
