# Configuración del servidor
AUTH_PORT=8080

# Configuración de base de datos PostgreSQL
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
SPRING_DATASOURCE_DATABASE=db-auth
SPRING_DATASOURCE_PORT=5432
SPRING_DATASOURCE_HOST=db-auth
SPRING_DATASOURCE_SCHEMA=public
SPRING_DATASOURCE_URL=jdbc:postgresql://db-auth:5432/db-auth

# Configuración JWT
# Clave privada de 256 bits para HMAC256
SECURITY_JWT_KEY_PRIVATE=bb8731318461e78f7c1c0sfs345stfd7e1d3a7685910b00

# Usuario/aplicación que genera el token (issuer)
SECURITY_JWT_USER_GENERATOR=FleetGuard360-Auth-Service

# Tiempo de expiración en milisegundos (15 minutos = 900000 ms)
SECURITY_JWT_EXPIRE=900000
