Notification_PORT=8080

EMAIL_SENDER=miemail@gmail.com
EMAIL_USERNAME=miemail@gmail.com
EMAIL_PASSWORD=password

RABBITMQ_ADDRESSES=rabbitmq:5672
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password

RABBITMQ_QUEUE_ALERT_CREATED_NAME=alert.created.queue
RABBITMQ_EXCHANGE_NAME=alert.exchange
RABBITMQ_ALERT_CREATED_ROUTING_KEY=alert.created

URL_FRONTEND=
