# Alert Management Service Environment Variables

# Server Configuration
ALERT_PORT=8080
SPRING_PROFILES_ACTIVE=default

# Database Configuration
JDBC_DATABASE_USERNAME=user
JDBC_DATABASE_PASSWORD=password
JDBC_DATABASE=db-alerts
JDBC_DATABASE_PORT=5432
JDBC_DATABASE_HOST=db-alerts
JDBC_DATABASE_SCHEMA=public
JDBC_DATABASE_URL=jdbc:postgresql://db-alerts:5432/db-alerts

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password
RABBITMQ_QUEUE_EMAIL_NAME=email.alert.created.queue
RABBITMQ_QUEUE_PUSH_NAME=push.alert.created.queue
RABBITMQ_EXCHANGE_NAME=alerts.topic.exchange
RABBITMQ_ALERT_CREATED_ROUTING_KEY=alert.created
